<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/burger.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>About-Peaky Blinders</title>
</head>
<body>
    <div class="container">

        <div class="main">
            <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png"
                alt="peaky_logo ">

            <div>
                <h1 class="main-text"><a href="/about">About</a></h1>
                <p class="main-text">A gangster family epic, set in the lawless streets of Birmingham post the First
                    World War test</p>
            </div>
            <div class="hamburger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="ham-nav" id="ham-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live Shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                </ul>
            </div>

        </div>

        <div class="seasons-container">
            <div class="s1-container">
                <div class="s1-head img-head">
                    <h1 class="head">SEASON 1</h1>
                    <p>Crime pays well. Business pays better.</p>
                </div>
                <img class="full-image" src="https://peakyblinders.tv/wp-content/uploads/2020/03/series-1-banner.jpg" alt="s1-img">

                <div class="text">
                    Small Heath, Birmingham, 1919. Thomas Shelby (Cillian Murphy, Inception) and his family run the most
                    feared and powerful local gang, the Peaky Blinders. Named for their practice of sewing razor blades
                    into the peaks of their caps, they make money from illegal betting, protection and the black market.

                    But Tommy’s ambitions go beyond running the streets, and when a crate of guns goes missing from an
                    arms factory, he recognises an opportunity to move up in the world. As rival gangs, Communist
                    revolutionaries and IRA Fenians descend on Small Heath in pursuit of the weapons; Winston Churchill
                    dispatches a ruthless police chief from Belfast to impose order on an increasingly lawless city and
                    recover the guns.

                    Boasting a stellar cast that includes Sam Neill (Jurassic Park), Helen McCrory (Harry Potter and the
                    Half-Blood Prince), Paul Anderson (The Revenant), Annabelle Wallis (The Loudest Voice), Joe Cole
                    (Prayer before Dawn) and Sophie Rundle (Gentleman Jack), Benjamin Zephaniah and Natasha O’Keeffe
                    (Filth). Season One sprang an entirely new kind of drama on an unsuspecting audience back in
                    September 2013.

                    Writer and creator Steven Knight says: “Season One lifted the lid on a world undiscovered and
                    forgotten by history but alive and kicking in oral tradition. I mined the memories of relatives
                    regarding the lawless streets of Small Heath Birmingham, run by gangsters, rocked by turf wars,
                    ruled by the Peaky Blinders. Tommy Shelby arrived on a black horse. He fought memories of war,
                    London gangs, and his own father as well as the indomitable Major Campbell of Special Branch. He
                    also found Grace and he found love. Series one was about destroying the template of British period
                    drama. The music took lots of people by surprise and surprise is good.”


                </div>
            </div>

            <div class="s2-container">
                <div class="s2-head img-head">
                    <h1 class="head">SEASON 2</h1>
                    <p>Time to make some real money.</p>
                </div>
                <img class="full-image" src="https://peakyblinders.tv/wp-content/uploads/2020/03/series-2-banner.jpg">

                <div class="text">
                    As the 1920s begin to roar, business is booming for the Peaky Blinders gang. Crime boss Thomas
                    Shelby starts to expand his criminal operations to London, and his rise brings him and his family
                    into contact with new worlds of hedonism and excess. Meanwhile an old enemy has returned to Small
                    Heath, Birmingham, intent on revenge. Soon, Shelby finds that he has been chosen to play a role in a
                    covert paramilitary operation – a role that will most likely lead towards his own demise.

                    Welcoming to the cast Charlotte Riley (Easy Virtue), Noah Taylor (Game of Thrones), Finn Cole
                    (Animal Kingdom) and Tom Hardy (The Dark Knight Rises) as the inimitable Alfie Solomons, Season Two
                    proved how many more stories there were to tell about Tommy Shelby and his family, living in these
                    extraordinary times.

                    Steven Knight says: “Season Two saw the Shelby family begin to expand their empire and spread their
                    influence into corridors of power. Society horse trainer May Carlton caught Tommy’s eye, but Grace
                    still held his heart. This season was about love, good and bad and twisted out of recognition. Polly
                    finds a son and kills a man. Major Campbell dies and Tommy steps out of his own grave to carry on, a
                    man beyond death. This was when Peaky hit its stride because it became about people who are truly
                    victims of their own wild and unknown destiny rather than their own decisions or their own history.
                    We all want to be in that position I think.”




                </div>
            </div>

            <div class="s3-container">

                <div class="s3-head img-head">
                    <h1 class="head">SEASON 3</h1>
                    <p>You can choose what you do, but you can’t choose what you want.</p>
                </div>
                <img class="full-image" src="https://peakyblinders.tv/wp-content/uploads/2020/03/banner-alfie-series-3.jpg">

                <div class="text">
                    When Thomas Shelby is approached by a secret organisation on his wedding day, he is drawn into a
                    maze of global intrigue involving White Russians and a dark force at the heart of power called the
                    Economic League. Coerced into the most audacious crime of his career, Shelby faces overwhelming
                    forces in every part of his life.

                    Introducing to the cast Paddy Considine (Dead Man’s Shoes), Gaite Jansen (Line of Duty) and Kate
                    Phillips (Wolf Hall) as Linda Shelby, this phenomenal vision of a family’s odyssey through British
                    society reached new heights of emotional intensity.

                    Steven Knight says: “In Season Three I wrote the death of a major character. This was hard to do but
                    necessary. Exiled Russian aristocrats underestimate Tommy and John and Arthur and Polly and pay the
                    price (no one ever learns). Alfie Solomons established himself as the only man Tommy can really talk
                    to. But this series was about loss and carrying on when there is nothing to live for. The Shelby
                    business spread west to America.”


                </div>
            </div>

            <div class="s4-container">

                <div class="s4-head img-head">
                    <h1 class="head">SEASON 4</h1>
                    <p>I’m not a traitor to my class. I’m just an extreme example of what a working man can achieve.</p>
                </div>
                <img class="full-image" src="https://peakyblinders.tv/wp-content/uploads/2020/03/banner-s4-jessie-ada.jpg">

                <div class="text">
                    December 1925. Tommy Shelby OBE is a man alone, estranged from his family and focussed only on
                    business. But when he receives a mysterious letter on Christmas Eve, Tommy realises that the Shelbys
                    are all in danger of annihilation. As the enemy closes in, Tommy flees his country house and returns
                    to the only safe place he knows: Small Heath, Birmingham.

                    Joining the series were Aidan Gillen (Game of Thrones), Jack Rowan (Noughts and Crosses), Charlie
                    Murphy (Happy Valley) as real-life activist Jessie Eden and Adrien Brody (The Pianist) as New York
                    Mafia boss Luca Changretta. The most action-packed installment yet, Season Four won Peaky Blinders
                    the BAFTA for Best Drama Series.

                    “Season Four was about overcoming death. Or the fear of death. Tommy, Arthur and John always felt
                    they were dead already. They were always ghosts returned from France. In this series one of them met
                    death for real and Polly discovered what the boys had known all along. The freedom you get when no
                    consequence scares you. In the words of Francis Bacon ‘since everything is so meaningless, you might
                    as well be extraordinary’. ” – Steven Knight.


                </div>
            </div>

            <div class="s5-container">

                <div class="s5-head img-head">
                    <h1 class="head">SEASON 5</h1>
                    <p>Sometimes, death is a kindness.</p>
                </div>
                <img class="full-image" src="https://peakyblinders.tv/wp-content/uploads/2020/03/banner-s5_v2.jpg">

                <div class="text">
                    The world has been thrown into turmoil by the Wall Street Crash of 1929. Opportunity and misfortune
                    are everywhere. When Thomas Shelby MP is approached by a charismatic politician with a bold vision
                    for Britain, he realises that his response will affect not just his own family’s future but that of
                    the entire nation. But as he prepares to sabotage the new dark force that is threatening Britain,
                    Tommy faces demons of his own…

                    Season Five welcomed Anya Taylor-Joy (Emma), Brian Gleeson (Love/Hate) and Sam Claflin (The Hunger
                    Games) as fascist politician Sir Oswald Mosley, and featured a blistering score by acclaimed
                    musician Anna Calvi.

                    Steven Knight says: “Season Five was about how the Shelby family became part of the fabric of
                    history. It was also about the rise of Fascism. Tommy faces an evil even he cannot reconcile and
                    tries to put his considerable political abilities to work defeating it. But Tommy is not a good man
                    and the line between good and bad is something he needs to discover. In this series I wanted to
                    suggest for the first time that Tommy might even believe he has a chance at redemption, and that
                    redemption might even mean something to him. He also finds that he loves his wife and that his
                    children are a reason to go on living. Welcome, Tommy, to the fringes of the human race.”




                </div>
            </div>

        </div>

        <div class="creator">
            <h1>Creators</h1>

            <h3>Steven Knight</h3>
            <div class="card">
                <img src="https://peakyblinders.tv/wp-content/uploads/2019/10/Steven-Knight-01.jpg" alt="Steven-Knight">

                <p>Writer and creator of Peaky Blinders Steven Knight grew up in the Small Heath area of Birmingham. His
                    childhood was to become pivotal to his creation of Peaky Blinders which is based on retellings of
                    his parents’ stories of growing up in Birmingham in the 1920s. This epic gangster drama first aired
                    in 2013 and has now run to five series, with the sixth series currently in production, attracting a
                    global following of fans.</p>
            </div>
        </div>

        <h1 class="cast-title">Cast</h1>
        <div class="cast">

            <div class="card1 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/PB_PHT_TOMMY_OFFICE.jpg')">

                <h4>Thomas Shelby</h4>
                <p>Cilian Murphy
                <p>
            </div>
            <div class="card2 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/Arthur-Shelby-s5.jpg')">

                <h4>Aurthur Shelby</h4>
                <p>Paul Anderson
                <p>
            </div>

            <div class="card3 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/John-Shelby-s2.jpg')">

                <h4>John Shelby</h4>
                <p>Joe cole
                <p>
            </div>

            <div class="card4 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/Alfie-Solomons-s2.jpg')">

                <h4>Alfie Solomons</h4>
                <p>Tom Hardy
                <p>
            </div>
            <div class="card5 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/Luca_Changretta-2.jpg')">

                <h4>Luca Changretta</h4>
                <p>Adrien Broody
                <p>
            </div>

            <div class="card6 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/1771_PB5_Oswold_Mosely_17DEC18RV.jpg')">

                <h4>Oswold Mosely</h4>
                <p>Sam Claffin
                <p>
            </div>
            <div class="card7 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/Michael-gray.jpg')">

                <h4>Michael gray</h4>
                <p>Finn Cole
                <p>
            </div>
            <div class="card8 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/Grace-Burgess.jpg')">

                <h4>Grace Burgess</h4>
                <p>Annnabelle Wallis
                <p>
            </div>

            <div class="card9 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/2324_PBV_11JAN19RV-2.jpg')">

                <h4>Lizzie Stark</h4>
                <p>Natasha O’Keeffe
                <p>
            </div>

            <div class="card10 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/Finn-Shelby-s5.jpg')">

                <h4>Finn Shelby</h4>
                <p>Harry Kirton
                <p>
            </div>

            <div class="card11 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/tatiana.jpg')">

                <h4>Duchess Tatiana Petrovna</h4>
                <p>Gaite Jansen
                <p>
            </div>

            <div class="card12 cast-member"
                style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/Billy-Kimber.jpg')">

                <h4>Billy Kimber</h4>
                <p>Charlie Creed-Miles
                <p>
            </div>



        </div>

        <div class="footer">
            <div class="footer-background"> </div>
            <div class="nav">
                <ul>
                    <div class="footer-logo"> <img
                            src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png"
                            alt="peaky_logo"></div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <div class="order"><img
                            src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/by_order_of_the_peaky_blinders.png"
                            alt="order"></div>
                </ul>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-instagram insta"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook face"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter x"></i></a></li>
                </ul>
            </div>
            <div class="privacy">
                <a href="#">Privacy and Cookies Policy Terms and Conditions</a>
                <a href="#">™ Peaky Blinders © Caryn Mandabach Productions Limited 2013 – 2024
                </a>
            </div>

        </div>

    </div>

    </div>

    <script src="/js/burger.js"></script>
</body>

</html>