<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/burger.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Home-Peaky Blinders </title>
</head>
<body>
    <div class="container">
        
        <div class="main">
            <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png" alt="peaky_logo">

            <h3> THE LEGITIMATE HOME FOR PEAKY BLINDERS</h3>

            <div class="hamburger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="ham-nav" id="ham-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live Shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                </ul>
            </div>
        </div>


        <div class="slider-container">
            <div class="slides">
                <div class="slider1">
                    <img src="https://peakyblinders.tv/wp-content/uploads/2022/12/1177_PB6_Ep2_040321RV-1-scaled.jpg" alt="arthur" class="arthur">
                    <div class="text1">Royal Television Society
                        <p>Awards Win</p>
                    </div>
                </div>

                <div class="slider2">
                    <img src="https://peakyblinders.tv/wp-content/uploads/2022/11/still-1.png" alt="thomas" class="thomas">
                    <div class="text2">Tv Choice
                        <p>Awards Win</p>
                    </div>
                </div>

                <div class="slider3">
                    <img src="https://peakyblinders.tv/wp-content/uploads/2022/10/Natasha-OKeefe-as-Lizzie-Shelby-by-Robert-Viglasky-scaled.jpg" alt="lizzy" class="lizzy">
                    <div class="text3">National Television
                        <p>Awards Win</p>
                    </div>
                </div>
            </div>

            <button class="prev" onclick="changeSlide(-1)"></button>
            <button class="next" onclick="changeSlide(1)"></button>
        </div>

        <div class="content">

       
            <div class="about right contmem" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/02/EP-673_PB_05Dec12.jpg')">
            </div>

            <div class="contmem">
                <div>
                    <h1>About</h1>
                        <p>A gangster family epic, set in the lawless streets of Birmingham post the First World War test</p>
                </div>
                <div class="logo">
                    <img src="	https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/horseshoe.png" alt="">
    
                </div>
            </div>

            <div class="news left contmem" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/news_0304_PB4_27MARCH17RV.jpg');">
            </div>
                
            <div class="contmem">
                <div>
                    <h1>News</h1>
                        <p>The first place to hear about all things Peaky Blinders</p>
                </div>
                <div class="logo">
                    <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/horseshoe.png" alt="">
        
                </div>
            
            </div>

            <div class="shows right contmem" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2021/12/Screenshot-2022-02-18-151433.png');">
            </div>
            <div class="contmem">
                <div>
                    <h1>Live Shows</h1>
                        <p>Live Peaky Blinders Shows</p>
                </div>
                <div class="logo">
                    <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/horseshoe.png" alt="">
    
                </div>
            </div>
        
            <div class="shop left contmem" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/Shelby-company-ltd-logo.jpg');">
            </div>
            <div class="contmem">
                <div>
                    <h1>Shop</h1>
                    <p>Legitimate Peaky Blinders merchandise</p>
                </div>
                <div class="logo">
                    <img src="	https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/horseshoe.png" alt="">
                    
                </div>
                
            </div>
        
            <div class="game right contmem" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2022/11/Kings-ransom.png');">
            </div>

            <div class="contmem">
                <div>
                    <h1>Games</h1>
                        <p>Play Peaky Blinders Games</p>
                </div>
                <div class="logo">
                    <img src="	https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/horseshoe.png" alt="horse">
    
                </div>
            </div>

            <div class="exclusive left contmem" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2019/10/PB3_02NOV2015RV_1541.jpg');">
            </div>
            <div class="contmem">
                <div>
                    <h1>Exclusive</h1>
                        <p>Exclusive access to content from the producers of Peaky Blinders</p>
                </div>
                <div class="logo">
                    <img src="	https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/horseshoe.png" alt="">
    
                </div>
            </div>

        </div>

        <button class="insta_id"><a href="https://www.instagram.com/peakyblindersofficial/">Follow on instagram</a></button>

        <div class="footer">
            <div class="footer-background"> </div>
            <div class="nav">
                <ul>
                    <div class="footer-logo"> <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png" alt="peaky_logo"></div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <div class="order"><img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/by_order_of_the_peaky_blinders.png" alt="order"></div>
                </ul>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-instagram insta"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook face"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter x"></i></a></li>
                </ul>
            </div>
            <div class="privacy">
                <a href="#">Privacy and Cookies Policy Terms and Conditions</a>
                <a href="#">™ Peaky Blinders © Caryn Mandabach Productions Limited 2013 – 2024
                </a>
            </div>
            
        </div>

    <script src="/js/home.js"></script>
    <script src="/js/burger.js"></script>
</body>
</html>