<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/live.css">
    <link rel="stylesheet" href="/css/burger.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Live Shows-Peaky Blinders</title>
</head>
<body>
    <div class="container">
        
        <div class="main">
            <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png" alt="peaky_logo ">

            <div>
                <h1 class="main-text"><a href="/watch">Live Shows</a></h1>
                <p>Discover more about upcoming Peaky Blinders live events.</p>
            </div>

            <div class="hamburger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="ham-nav" id="ham-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live Shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                </ul>
            </div>
        
        </div>

        
        <div class="shows-container">

            <div class="show1 shows" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2021/12/PB_Artwork_01-212x300.jpg')">
                <div class="shows-content">

                    <h1>Peaky Blinders:
                        The Rise</h1>
                        <p>PEAKY BLINDERS: THE RISE, the first official fully immersive 360-degree theatre show set in the world of Peaky Blinders is ending 28th May 2023. The live experience is set in The Camden Garrison, in Camden Market, just moments away from the setting for Solomons Yards.</p>
                        <h4><a href="#">Learn More</a></h4>
                </div>
                    
            </div>

            <div class="show2 shows" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2022/01/MicrosoftTeams-image-5-2-300x300.jpg')">
                <div class="shows-content">
                    <h1>Peaky Blinders – The Redemption of Thomas Shelby</h1>
                    <p>Peaky Blinders: The Redemption of Thomas Shelby is the first of it’s kind dance theatre show, written and adapted for the stage by Steven Knight. The 2023 UK tour will visit nine locations up and down the UK from London to Edinburgh.</p>
                    <h4><a href="#">Learn More</a></h4>
                </div>
                
            </div>

        </div>
        

        <div class="footer">
            <div class="footer-background"> </div>
            <div class="nav">
                <ul>
                    <div class="footer-logo"> <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png" alt="peaky_logo"></div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <div class="order"><img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/by_order_of_the_peaky_blinders.png" alt="order"></div>
                </ul>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-instagram insta"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook face"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter x"></i></a></li>
                </ul>
            </div>
            <div class="privacy">
                <a href="#">Privacy and Cookies Policy Terms and Conditions</a>
                <a href="#">™ Peaky Blinders © Caryn Mandabach Productions Limited 2013 – 2024
                </a>
            </div>
            
        </div>
    </div>
        
    </div>

    <script src="/js/burger.js"></script>
</body>
</html>