<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/burger.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>News-Peaky Blinders</title>
</head>
<body>
    <div class="container">
        
        <div class="main">
            <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png" alt="peaky_logo ">

            <div>
                <h1 class="main-text"><a href="/news">News</a></h1>
                    <p class="main-text">The first place to hear about all things Peaky Blinders</p>
            </div>

            <div class="hamburger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="ham-nav" id="ham-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live Shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                </ul>
            </div>
        

        </div>

        
        <div class="news-container">

            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2023/03/3537_PB6_Ep2_180421RV-1-1-scaled.jpg')">

                <h4>Thomas Shelby</h4>
                <p>Cilian Murphy<p>
            </div>
            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/10/3196_PBV_14JAN19-scaled.jpg')">

                <h4>Aurthur Shelby</h4>
                <p>Paul Anderson<p>
            </div>
            
            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2022/06/Screenshot-2022-06-23-150142.png')">

                <h4>John Shelby</h4>
                <p>Joe cole<p>
            </div>
            
            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2022/12/1177_PB6_Ep2_040321RV-1-scaled.jpg')">

                <h4>Alfie Solomons</h4>
                <p>Tom Hardy<p>
            </div>
            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/04/s2-tommy-shelby-e6.jpg')">

                <h4>Luca Changretta</h4>
                <p>Adrien Broody<p>
            </div>

            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2016/05/group_1794_PB3_10NOV2015RV.jpg')">

                <h4>Oswold Mosely</h4>
                <p>Sam Claffin<p>
            </div>
            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/tommy_s3_3530_PB3_10DEC2015RV.jpg')">

                <h4>Michael gray</h4>
                <p>Finn Cole<p>
            </div>
            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/Tommy_s1_0049_PB_11Sep12.jpg')">

                <h4>Grace Burgess</h4>
                <p>Annnabelle Wallis<p>
            </div>

            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/series-2_0026PB2_06March14DH6A8511.jpg')">

                <h4>Lizzie Stark</h4>
                <p>Natasha O’Keeffe<p>
            </div>

            <div class="news" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2022/11/still-1.png')">

                <h4>Lizzie Stark</h4>
                <p>Natasha O’Keeffe<p>
            </div>
            
    
    
        </div>

        <div class="footer">
            <div class="footer-background"> </div>
            <div class="nav">
                <ul>
                    <div class="footer-logo"> <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png" alt="peaky_logo"></div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <div class="order"><img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/by_order_of_the_peaky_blinders.png" alt="order"></div>
                </ul>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-instagram insta"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook face"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter x"></i></a></li>
                </ul>
            </div>
            <div class="privacy">
                <a href="#">Privacy and Cookies Policy Terms and Conditions</a>
                <a href="#">™ Peaky Blinders © Caryn Mandabach Productions Limited 2013 – 2024
                </a>
            </div>
            
        </div>
    </div>
        
    </div>

    <script src="/js/burger.js"></script>
</body>
</html>