<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/burger.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>About-Peaky Blinders</title>
</head>
<body>
    <div class="container">
        
        <div class="main">
            <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png" alt="peaky_logo ">

            <div>
                <h1 class="main-text"><a href="/about">SHOP</a></h1>
                    <p class="main-text">Legitimate Peaky Blinders merchandise</p>
            </div>

            <div class="hamburger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="ham-nav" id="ham-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live Shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                </ul>
            </div>
        

        </div>

        <div class="shop-container">

            <div class="shop1 shop-member" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2022/02/Cookbook-Thumbnail-300x300.png')">

                <h4>Books</h4>
            </div>
            <div class="shop2 shop-member" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2022/03/TS-M-_-BLK-PEBLL320__232_1400x-300x300.jpg')">

                <h4>Clothing</h4>
            </div>
            <div class="shop3 shop-member" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/11/wine-300x300.jpg')">

                <h4>Drinks</h4>
            </div>
            <div class="shop4 shop-member" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/games-2-300x300.jpg')">

                <h4>Games</h4>
            </div>
            <div class="shop5 shop-member" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2019/10/t-shirt-1-e1582812103634-300x300.jpg')">

                <h4>Gifts</h4>
            </div>
            <div class="shop6 shop-member" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/03/81tQd0EHs9L._AC_SX425_-300x300.jpg')">

                <h4>Music</h4>
            </div>
        </div>

        <h1 class="prohead">Featured Products</h1>
        <div class="product-container">
            
            <div class="product1 product-member" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2022/11/1.-Key-art-square-300x300.png')">
                
                <h4>Peaky Blinders: The King’s Ransom – VR Game</h4>
            </div>
            <div class="product2 product-member" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/10/cocktailfeat-300x300.jpg')">
                
                <h4>The Official Peaky Blinders Cocktail Book</h4>
            </div>
            
            <div class="product3 product-member" style="background-image: url('https://peakyblinders.tv/wp-content/uploads/2020/11/wine-300x300.jpg')">
                
                <h4>The Official Peaky Blinders Vignobles Bardet Wine</h4>
            </div>
        </div>
            
    
    

        <div class="footer">
            <div class="footer-background"> </div>
            <div class="nav">
                <ul>
                    <div class="footer-logo"> <img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/peaky_blinders_logo_web.png" alt="peaky_logo"></div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/live">Live shows</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <div class="order"><img src="https://peakyblinders.tv/wp-content/themes/peaky_blinders/images/by_order_of_the_peaky_blinders.png" alt="order"></div>
                </ul>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-instagram insta"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook face"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter x"></i></a></li>
                </ul>
            </div>
            <div class="privacy">
                <a href="#">Privacy and Cookies Policy Terms and Conditions</a>
                <a href="#">™ Peaky Blinders © Caryn Mandabach Productions Limited 2013 – 2024
                </a>
            </div>
            
        </div>
    </div>
        
    </div>

    <script src="/js/burger.js"></script>
</body>
</html>